{% extends "base.html" %}
{% block content %}
<h1>Assign License</h1>
<div class="form-box">
  <form method="POST" action="/users/assign-license">
    <label>User Email Address</label>
    <input id="email" type="email" name="email" placeholder="user@company.com" required>
    <label>License</label>
    <select id="license" name="license">
      {% for lic in licenses %}<option>{{ lic }}</option>{% endfor %}
    </select>
    <button type="submit">Assign License</button>
  </form>
</div>
{% endblock %}
