{% extends "base.html" %}
{% block content %}
<h1>User Directory</h1>
<p><a class="btn" href="/users/create">+ Create User</a></p>
<table>
  <tr><th>Name</th><th>Email</th><th>Role</th><th>License</th><th>Created</th><th>Action</th></tr>
  {% for u in users %}
  <tr>
    <td>{{ u.name }}</td><td>{{ u.email }}</td>
    <td>{{ u.role }}</td><td>{{ u.license }}</td><td>{{ u.created_at }}</td>
    <td><a class="btn" style="padding: 4px 10px; font-size: 12px;" href="/users/manage?email={{ u.email }}">Manage</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
